<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="TEST_ENDPOINT" value="https://{0}:{1}@localhost:9200" />
        <add key="TEST_USERNAME" value="elastic_user" />
        <add key="TEST_PASSWORD" value="elastic_pass" />
        <add key="TEST_INDEX" value="testindex" />
    </appSettings>
</configuration>
